<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'stDetails/css/bootstrap.css' %}">
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center alert alert-primary">CRUD operations using Django -- <span class="btn btn-danger"> Harry</span>
    </h2>
    <h2 class="text-center alert alert-danger">Function based view ModelForm CRUD operations</h2>
    {% block content %} {% endblock content %}
</div>
</body>
</html>